@model MVC.ViewModel.AdicionarEventoViewModel

<div class="panel-body">
    <div class="form-group">
        <div class="row">
            <div hidden="">
                <label>@Model.Codigo</label>
            </div>
            <div class="col-lg-3">
                <h5>Atendente</h5>
                <label>@Model.Atendente.Nome</label>
            </div>
            <div class="col-lg-3">
                <h5>Nivel</h5>
                <label>@Model.Atendente.Nivel</label>
            </div>
            <div class="col-lg-3">
                <h5>Abertura</h5>
                <label>@Model.Abertura</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h5>Status</h5>
        <div class="row">
            <div class="col-lg-11">
                <label>@Model.Status</label>
            </div>
            <div class="col-lg-1">
                <button type="button" data-url="@Url.Action("AlterarStatus", "Evento", new{Id=Model.Codigo, Status =Model.Status})" data-toggle="slidePanel" class="btn btn-floating btn-warning btn-sm waves-effect">
                    <i class="icon md-edit" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h5>Descrição</h5>
        <div class="row">

            <div class="col-lg-11">
                <textarea class="form-control" disabled rows="5">@Model.Descricao</textarea>
            </div>
            <div class="col-lg-1">
                <button type="button" data-url="@Url.Action("AlterarDescricao", "Evento", new{Id=Model.Codigo, Descricao =Model.Descricao})" data-toggle="slidePanel" class="btn btn-floating btn-warning btn-sm waves-effect">
                    <i class="icon md-edit" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>