@using Domain.Entities
@model List<Domain.Entities.Chamado>

@section pluginsStyle
{
    <link rel="stylesheet" href="http://static.bischoffgroup.com.br/resources/plugins/select2/select2.css">
}
<div class="page">
    <div class="page-header">
        <h1 class="page-title mb-10">Chamados</h1>
    </div>
    <div class="page-content">
        <div class="container container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Lista de Chamados Abertos</h3>
                        </div>
                        <div class="panel-body">
                            <form autocomplete="off">
                                <div class=" table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Numero Chamado</th>
                                                <th>Solicitante</th>
                                                <th>Atendente</th>
                                                <th>Assunto</th>
                                                <th>Loja</th>
                                                <th>Nivel</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>



                                            @foreach (var chamado in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <label>@chamado.Codigo</label>
                                                    </td>
                                                    <td>
                                                        <label>@chamado.Solicitante</label>
                                                    </td>
                                                    <td>
                                                        <label>@chamado.Atendente.Nome</label>
                                                    </td>
                                                    <td>
                                                        <label>@chamado.Assunto</label>
                                                    </td>
                                                    <td>
                                                        <label>@chamado.Filial.Nome</label>
                                                    </td>
                                                    <td>
                                                        <label>@chamado.Atendente.Nivel</label>
                                                        </td>
                                                        <td>
                                                            <a class="btn-default" asp-controller="Home" asp-action="Visualizar" asp-route-id="@chamado.Codigo">Visualizar</a>
                                                        </td>
                                                    </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div class="site-action">
                                <button type="button" data-url="@Url.Action("Novo", "Home")" data-toggle="slidePanel" class="btn-raised btn btn-success btn-floating waves-effect waves-classic">
                                    <i class="front-icon md-plus animation-scale-up" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section plugins
{
    <script src="http://static.bischoffgroup.com.br/resources/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="http://static.bischoffgroup.com.br/resources/plugins/select2/select2.js"></script>
}
