@using Domain.Entities
@model Domain.Entities.Chamado

@section pluginsStyle
{
    <link rel="stylesheet" href="http://static.bischoffgroup.com.br/resources/plugins/select2/select2.css">
}
<div class="page">
    <div class="page-header">
        <h1 class="page-title mb-10">Chamados</h1>
    </div>
    <div class="page-content">
        <div class="container container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Visualizar</h3>
                        </div>
                        <div class="panel-body">
                            <form autocomplete="off">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <h4>Codigo</h4>
                                            <label>@Model.Codigo</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <h4>Status</h4>
                                            <label>@Model.Status</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <h4>Nivel</h4>
                                            <label>@Model.Nivel</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <h4 class="col-lg-2">Filial</h4>
                                        <div class="col-lg-9">
                                            <label>@Model.Filial.Nome</label>
                                        </div>
                                        <div class="col-lg-1">
                                            <button type="button" data-url="@Url.Action("AlterarFilial", "Home", new{Id=Model.Codigo, Filial =Model.Filial.Nome})" asp-controller="Home" asp-action="AlterarFilial" data-toggle="slidePanel" class="btn btn-floating btn-warning btn-sm waves-effect">
                                                <i class="icon md-edit" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <h4 class="col-lg-2">Assunto</h4>
                                        <div class="col-lg-9">
                                            <label>@Model.Assunto</label>
                                        </div>
                                        <div class="col-lg-1">
                                            <button type="button" data-url="@Url.Action("AlterarAssunto", "Home", new{Id=Model.Codigo, Assunto =Model.Assunto})" asp-controller="Home" asp-action="AlterarCategoria" data-toggle="slidePanel" class="btn btn-floating btn-warning btn-sm waves-effect">
                                                <i class="icon md-edit" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4>Categorias</h4>
                                </div>
                                @{
                                    foreach (var categoria in Model.Categorias)
                                    {
                                        <div class="row">
                                            <div class="offset-lg-2">
                                                <label>@categoria.Descricao</label>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="row">
                                    <div class="col-lg-1 offset-lg-11">
                                        <button type="button" data-url="@Url.Action("AlterarCategoria", "Home", new{Id=Model.Codigo, Assunto =Model.Categorias})" asp-controller="Home" asp-action="AlterarAssunto" data-toggle="slidePanel" class="btn btn-floating btn-warning btn-sm waves-effect">

                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <h3>Evento</h3>
                                    @{
                                        foreach (var evento in Model.Eventos)
                                        {
                                            <input type="text" class="form-control" Value="@evento.Atendente.Nome" disabled="">
                                            <input type="text" class="form-control" Value="@evento.Abertura" disabled="">
                                            <input type="text" class="form-control" Value="@evento.Descricao" disabled="">
                                            <div>---</div>
                                        }

                                    }

                                </div>
                                <div class="row">
                                    <div class="col-lg-1 offset-lg-10">
                                        <button type="button" class="btn btn-floating btn-warning btn-sm waves-effect">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                    </div>

                                    <div class="col-lg-1">
                                        <button type="button" asp-controller="Evento" asp-action="Novo" data-toggle="slidePanel" class="btn-raised btn btn-sm btn-success btn-floating waves-effect waves-classic">
                                            <i class="front-icon md-plus animation-scale-up" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section plugins
{
    <script src="http://static.bischoffgroup.com.br/resources/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="http://static.bischoffgroup.com.br/resources/plugins/select2/select2.js"></script>
}
